# Web Scraping for Different Types of Roller Coasters

In [67]:
import os
from bs4 import BeautifulSoup as bs
import requests
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd, numpy as np, datetime as dt
from pprint import pprint
import json
import re
import numpy as np
import random

In [70]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 92.0.4515
Get LATEST driver version for 92.0.4515
Get LATEST driver version for 92.0.4515
Trying to download new driver from https://chromedriver.storage.googleapis.com/92.0.4515.107/chromedriver_mac64.zip
Driver has been saved in cache [/Users/bt4ever/.wdm/drivers/chromedriver/mac64/92.0.4515.107]

In [15]:
url='https://en.wikipedia.org/wiki/Marvel_Games'
browser.visit(url)

In [16]:
html = browser.html
soup = bs(html, 'html.parser')

In [18]:
url = f'https://en.wikipedia.org/wiki/Marvel_Games'
games = soup.find_all("table")
print("Number of tables on site: ",len(games))

Number of tables on site:  9

In [33]:
table = pd.read_html(url)
marvel_games = table[1]

In [34]:
marvel_games.columns

Index(['Title', 'Date', 'Property', 'Platform(s)', 'Publisher(s)', 'Ref'], dtype='object')

In [37]:
marvel_games_cl = marvel_games.drop(['Ref'], axis=1)

In [39]:
marvel_games_cl

,Title,Date,Property,Platform(s),Publisher(s)
0,Spider-Man,1982,Spider-Man,Atari 2600,Parker Brothers
1,Questprobe featuring The Hulk,1984,Hulk,"Apple II, Atari 8-bit, BBC Micro, browser, Com...",Adventure International
2,Questprobe featuring Spider-Man,1984,Spider-Man,"Apple II, Atari 8-bit, Atari ST, BBC Micro, br...",Adventure International
3,Questprobe: Featuring Human Torch and the Thing,1985,Fantastic Four,"Amstrad CPC, Apple II, Atari 8-bit, Commodore ...",Adventure International
4,Howard the Duck,1986,Howard the Duck,"Amstrad CPC, Apple II, Commodore 64, MSX, ZX S...",Activision
...,...,...,...,...,...
160,Marvel's Avengers,2020,Avengers,"PlayStation 4, Microsoft Windows, Xbox One, Xb...",Square Enix
161,Marvel Realm of Champions,2020,crossover,"Android, iOS",Kabam
162,Marvel's Spider-Man: Miles Morales,2020,Spider-Man (Miles Morales),"PlayStation 4, Playstation 5",Sony Interactive Entertainment
163,Marvel Future Revolution,2021,crossover,"Android, iOS",Netmarble Games
164,Marvel's Guardians of the Galaxy,2021,Guardians of the Galaxy,"PlayStation 4, Microsoft Windows, Xbox One, Xb...",Square Enix

In [56]:
url = f'https://en.wikipedia.org/wiki/List_of_video_games_based_on_DC_Comics'
dcgames = soup.find_all("table")
print("Number of tables on site: ",len(dcgames))

Number of tables on site:  7

In [52]:
url2 ='https://en.wikipedia.org/wiki/List_of_video_games_based_on_DC_Comics'
browser.visit(url2)

In [58]:
dc_table = pd.read_html(url2)
dc_games90 = dc_table[1]
dc_games90

,Title,Year,Platform(s),Developer(s),Publisher(s)
0,Batman: The Video Game,1990,Mega Drive,Sunsoft,Sunsoft
1,Batman,1990,Arcade,Data East,Atari Games
2,Batman: Return of the Joker,1991,"Game Boy, NES, Mega Drive","Ringler, Sunsoft",Sunsoft
3,The Flash,1991,Game Boy,Equilibrium Inc.,THQ
4,Superman,1992,"Master System, Mega Drive",Sunsoft,Sunsoft
5,Swamp Thing,1992,"Game Boy, NES",Imagineering,THQ
6,Batman Returns,1993,"Amiga, Atari Lynx, Atari ST, IBM PC, NES, Mega...","Acme, Aspect, Atari, Dentons, Konami, Malibu, ...","Konami, Sega"
7,The Flash,1993,Sega Master System,Acclaim Cheltenham,Sega
8,Batman: The Animated Series,1993,Game Boy,Konami,Konami
9,The Death and Return of Superman,1994,"SNES, Mega Drive","Blizzard Entertainment, Sunsoft",Sunsoft
10,The Adventures of Batman & Robin,1994,"Mega Drive, Mega-CD, SNES, Sega Game Gear","Clockwork Tortoise, Konami, Novotrade","Konami, Sega"
11,Batman Forever,1995,"Game Boy, Mega Drive, Microsoft Windows, Sega ...","Acclaim Entertainment, Acclaim Cheltenham",Acclaim
12,Justice League Task Force,1995,"Mega Drive, SNES","Blizzard Entertainment, Condor, Sunsoft",Acclaim
13,Batman Forever: The Arcade Game,1996,"Arcade, Microsoft Windows, PlayStation, Sega S...",Iguana,Acclaim
14,Batman & Robin,1998,"Game.com, PlayStation","Acclaim Cheltenham, Tiger Electronics",Acclaim
15,Superman,1999,Nintendo 64,Titus,Titus

In [59]:
dc_games7080 = dc_table[0]
dc_games7080

,Title,Year,Platform(s),Developer(s),Publisher(s)
0,Superman[1],1979,Atari 2600,Atari,Atari
1,Superman: The Game[2],1985,"Acorn Electron, BBC Micro, Commodore 16, Commo...",First Star,"First Star, Prism Leisure"
2,Batman[3],1986,"Amstrad CPC, Amstrad PCW, MSX, ZX Spectrum,",Ocean,Ocean
3,Superman,1987,NES,Kemco,Kemco
4,Batman: The Caped Crusader[4],1988,"Amiga, Amstrad CPC, Atari ST, Commodore 64, MS...",Special FX Software Ltd,Ocean
5,Superman,1988,Arcade,Taito,Taito
6,Superman: The Man of Steel,1989,"Acorn Electron, Amiga, Amstrad CPC, Apple II, ...",Tynesoft,Capstone
7,Batman,1989,"Amiga, Atari ST, Commodore 64, Amstrad CPC, ZX...",Ocean,Ocean
8,Batman,1989,NES,Sunsoft,Sunsoft

In [61]:
dc_games00 = dc_table[2]
dc_games00

,Title,Year,Platform(s),Developer(s),Publisher(s)
0,Batman Beyond: Return of the Joker,2000,"Game Boy Color, Nintendo 64, PlayStation",Kemco,Ubisoft
1,Sgt. Rock On The Frontline,2000,Game Boy Color,Altron,Bam! Entertainment
2,Batman: Chaos in Gotham,2001,Game Boy Color,Backbone Entertainment,Ubisoft
3,Batman: Gotham City Racer,2001,PlayStation,Ubisoft,Ubisoft
4,Batman: Vengeance,2001,"Game Boy Advance, Microsoft Windows, Nintendo ...","Ubisoft Montreal, Ubisoft Shanghai",Ubisoft
5,Justice League: Injustice for All,2002,Game Boy Advance,Saffire,Midway
6,Superman: Shadow of Apokolips,2002,"Nintendo GameCube, PlayStation 2","Infogrames Entertainment, SA",Atari
7,Superman: The Man of Steel,2002,Xbox,Circus Freak,Atari
8,Batman: Dark Tomorrow,2003,"Nintendo GameCube, Xbox",HotGen,Kemco
9,Superman: Countdown to Apokolips,2003,Game Boy Advance,Mistic,Atari
10,Aquaman: Battle for Atlantis,2003,"Nintendo GameCube, Xbox",Lucky Chicken,TDK
11,Batman: Rise of Sin Tzu,2003,"Game Boy Advance, Nintendo GameCube, PlayStati...",Ubisoft Montreal,Ubisoft
12,Justice League: Chronicles,2003,Game Boy Advance,Full Fat,Midway Games
13,Catwoman,2004,"Game Boy Advance, Microsoft Windows, Nintendo ...","Argonaut Games, Electronic Arts, Magic Pockets",Electronic Arts
14,Constantine,2005,"Microsoft Windows, PlayStation 2, Xbox","Bits, SCi","THQ, Warner Bros. Interactive Entertainment"
15,Batman Begins,2005,"GBA, mobile phones, GCN, PlayStation 2, Xbox",Eurocom,"Electronic Arts, Warner Bros. Interactive Ente..."
16,Teen Titans,2006,"GCN, PlayStation 2, Xbox",Behaviour Interactive,THQ
17,Justice League Heroes,2006,"Nintendo DS, PlayStation 2, PlayStation Portab...",Snowblind Studios,"Eidos Interactive, Warner Bros. Interactive En..."
18,Justice League Heroes: The Flash,2006,Game Boy Advance,WayForward Technologies,"Eidos Interactive, Warner Bros. Interactive En..."
19,Teen Titans,2006,Game Boy Advance,Behaviour Interactive,Majesco
20,Teen Titans 2,2006,Game Boy Advance,Behaviour Interactive,Majesco
21,Superman Returns,2006,"Nintendo DS, PlayStation 2, Xbox, Xbox 360, PSP",EA Tiburon,Electronic Arts
22,Superman Returns: Fortress of Solitude,2006,Game Boy Advance,"EA Tiburon, Santa Cruz",Electronic Arts
23,Lego Batman: The Videogame,2008,"Mac OS X, Microsoft Windows, mobile phones, Ni...","Feral Interactive, Traveller's Tales, TT Fusion",Warner Bros. Interactive Entertainment
24,Mortal Kombat vs. DC Universe,2008,"PlayStation 3, Xbox 360","Midway Games, Warner Bros. Interactive Enterta...",Midway
25,Watchmen: The End Is Nigh,2009,"Microsoft Windows, PlayStation 3, Xbox 360",Deadline Games,Warner Bros. Interacive Entertainment
26,Batman: Arkham Asylum,2009,"Microsoft Windows, Mac OS X, PlayStation 3, Xb...",Rocksteady Studios,"Eidos Interactive, Warner Bros. Interactive En..."
27,Justice League Heroes United,2009,Arcade,Konami,Konami

In [62]:
dc_games10 = dc_table[3]
dc_games10

,Title,Year,Platform(s),Developer(s),Publisher(s)
0,Batman: The Brave and the Bold – The Videogame,2010,"Nintendo DS, Wii",WayForward Technologies,Warner Bros. Interactive Entertainment
1,DC Universe Online,2011,"Microsoft Windows, PlayStation 3, PlayStation ...",Sony Online Entertainment,"Sony Online Entertainment, Warner Bros. Intera..."
2,Green Lantern: Rise of the Manhunters,2011,"Nintendo 3DS, NDS, PlayStation 3, Wii, Xbox 36...","Double Helix Games, Griptonite Games",Warner Bros. Interactive Entertainment
3,Batman: Arkham City,2011,"Microsoft Windows, Mac OS X, PlayStation 3, Xb...",Rocksteady Studios,Warner Bros. Interactive Entertainment
4,Batman: Arkham City Lockdown,"2011, 2013","iOS, Android",NetherRealm Studios,Warner Bros. Interactive Entertainment
5,Gotham City Impostors[5],2012,"Microsoft Windows, PlayStation 3, Xbox 360",Monolith Productions,Warner Bros. Interactive Entertainment
6,Lego Batman 2: DC Super Heroes,2012,"3DS, NDS, Microsoft Windows, Mac OS X, iOS, Pl...",Traveller's Tales,Warner Bros. Interactive Entertainment
7,The Dark Knight Rises,2012,"iOS, Android",Gameloft,Warner Bros. Interactive Entertainment
8,Justice League: Earth's Final Defense,2012,"iOS, Android",Netmarble,Warner Bros. Interactive Entertainment
9,Injustice: Gods Among Us,2013,"PlayStation 3, Wii U, Xbox 360, Android, iOS, ...",NetherRealm Studios,Warner Bros. Interactive Entertainment
10,The Wolf Among Us,2013,"Android, iOS, Microsoft Windows, Mac OS X, Pla...",Telltale Games,Telltale Games
11,Man of Steel,2013,"iOS, Android",Warner Bros. Interactive Entertainment,Warner Bros. Interactive Entertainment
12,Young Justice: Legacy[6],2013,"Microsoft Windows, 3DS, PlayStation 3, Xbox 360",Little Orbit,Warner Bros. Interactive Entertainment
13,Scribblenauts Unmasked: A DC Comics Adventure,2013,"Microsoft Windows, 3DS, Wii U, PlayStation 4, ...",5th Cell,Warner Bros. Interactive Entertainment
14,Batman: Arkham Origins,2013,"Microsoft Windows, Wii U, PlayStation 3, Xbox 360",WB Games Montréal,Warner Bros. Interactive Entertainment
15,Batman: Arkham Origins (mobile),2013,"iOS, Android",NetherRealm Studios,Warner Bros. Interactive Entertainment
16,Batman: Arkham Origins Blackgate,2013,"3DS, PlayStation Vita",Armature Studio,Warner Bros. Interactive Entertainment
17,Batman,2013,Arcade,Specular Interactive,Raw Thrills
18,Lego Batman 3: Beyond Gotham,2014,"3DS, Microsoft Windows, Mac OS X, iOS, PlaySta...",Traveller's Tales,Warner Bros. Interactive Entertainment
19,Doodle Jump DC Super Heroes,2014,"iOS, Android",Lima Sky LLC,Lima Sky LLC
20,Infinite Crisis,2015,Microsoft Windows,"Turbine, Inc.",Warner Bros. Interactive Entertainment
21,Batman: Arkham Knight,2015,"Microsoft Windows, PlayStation 4, Xbox One",Rocksteady Studios,Warner Bros. Interactive Entertainment
22,Lego Dimensions,2015,"PlayStation 3, PlayStation 4, Wii U, Xbox 360,...",Traveller's Tales,Warner Bros. Interactive Entertainment
23,Batman: Arkham Underworld,2016,"Android, iOS","Turbine, Inc.",Warner Bros. Interactive Entertainment
24,Suicide Squad: Special Ops,2016,"Android, iOS, Microsoft Windows, Mac OS X, App...",Sticky Studios,Warner Bros. Interactive Entertainment
25,Batman: Return to Arkham,2016,"PlayStation 4, Xbox One",Virtuos,Warner Bros. Interactive Entertainment
26,Batman: The Telltale Series,2016,"Android, iOS, Microsoft Windows, Mac OS X, Pla...",Telltale Games,Telltale Games
27,Batman: Arkham VR,2016,"PlayStation VR, HTC Vive, Oculus Rift",Rocksteady Studios,Warner Bros. Interactive Entertainment
28,DC Legends,2016,"Android, iOS, Microsoft Windows,",WB Games San Francisco,Warner Bros. Interactive Entertainment
29,Injustice 2,2017,"PlayStation 4, Xbox One, Microsoft Windows, An...",NetherRealm Studios,Warner Bros. Interactive Entertainment
30,Wonder Woman: Rise of the Warrior,2017,"Android, iOS, Microsoft Windows",Warner Bros. Interactive Entertainment,NaN
31,Batman: The Enemy Within,2017,"PlayStation 4, Xbox One, Microsoft Windows, An...",Telltale Games,Telltale Games
32,DC Unchained,2018,"Android, iOS",FourThirtyThree Inc.,FourThirtyThree Inc.
33,Lego DC Super-Villains,2018,"Microsoft Windows, PlayStation 4, Xbox One, Ni...",Traveller's Tales,Warner Bros. Interactive Entertainment

In [64]:
dc_games20 = dc_table[4]
dc_games20.head()

,Title,Year,Platform(s),Developer(s),Publisher(s)
0,DC Battle Arena,2021,"Android, iOS",Electronic Soul BBQ Studios,Electronic Soul BBQ Studios
1,DC Super Hero Girls: Teen Power,2021,Nintendo Switch,Toybox,Nintendo
2,Gotham Knights,2022,"Microsoft Windows, PlayStation 4, PlayStation ...",WB Games Montréal,Warner Bros. Interactive Entertainment
3,Suicide Squad: Kill the Justice League,2022,"Microsoft Windows, PlayStation 5, Xbox Series X/S",Rocksteady Studios,Warner Bros. Interactive Entertainment

In [66]:
dc_games_complete = pd.concat([dc_games7080, dc_games90,dc_games00,dc_games10,dc_games20], ignore_index=True)
dc_games_complete

,Title,Year,Platform(s),Developer(s),Publisher(s)
0,Superman[1],1979,Atari 2600,Atari,Atari
1,Superman: The Game[2],1985,"Acorn Electron, BBC Micro, Commodore 16, Commo...",First Star,"First Star, Prism Leisure"
2,Batman[3],1986,"Amstrad CPC, Amstrad PCW, MSX, ZX Spectrum,",Ocean,Ocean
3,Superman,1987,NES,Kemco,Kemco
4,Batman: The Caped Crusader[4],1988,"Amiga, Amstrad CPC, Atari ST, Commodore 64, MS...",Special FX Software Ltd,Ocean
...,...,...,...,...,...
56,Suicide Squad: Kill the Justice League,2022,"Microsoft Windows, PlayStation 5, Xbox Series X/S",Rocksteady Studios,Warner Bros. Interactive Entertainment
57,DC Battle Arena,2021,"Android, iOS",Electronic Soul BBQ Studios,Electronic Soul BBQ Studios
58,DC Super Hero Girls: Teen Power,2021,Nintendo Switch,Toybox,Nintendo
59,Gotham Knights,2022,"Microsoft Windows, PlayStation 4, PlayStation ...",WB Games Montréal,Warner Bros. Interactive Entertainment
60,Suicide Squad: Kill the Justice League,2022,"Microsoft Windows, PlayStation 5, Xbox Series X/S",Rocksteady Studios,Warner Bros. Interactive Entertainment

In [106]:
rc_done = rc_final.replace('-',np.nan)
rc_done

,Roller Coaster,Amusement Park,Type,Design,Status,Opened
0,€uro-Coaster,Wiener Prater,Steel,Suspended,NaN,2020
1,€uro Coaster,Funland Theme Park,Steel,Sit Down,Operating,2021
2,1066,Festyland,Steel,Sit Down,Operating,2005
3,10 Inversion Roller Coaster,Chimelong Paradise,Steel,Sit Down,Operating,2006
4,1970 Galaxy Rip Tide Coaster,Swampy Jack's Wongo Adventure,Steel,Sit Down,Relocated,2014
...,...,...,...,...,...,...
10675,7 Picos,Parque de Atracciones de Madrid,Steel,Sit Down,NaN,1969
10676,88 Train,Children's Grand Park,Steel,Sit Down,NaN,1984
10677,88 Train,Amusement Land,Steel,Sit Down,NaN,NaN
10678,Abandon Mine,Uncle Bernie's Theme Park,Steel,Sit Down,Operating,2002
10679,Abismo,Parque de Atracciones de Madrid,Steel,Sit Down,Operating,2006

In [107]:
rc_done.to_json("rcdb.json", orient='columns')

In [108]:
rc_done.to_json("rcdb_split.json", orient='split')

In [109]:
rc_done.to_csv("rcdb_with_years.csv", index=False)

In [110]:
rc_done

,Roller Coaster,Amusement Park,Type,Design,Status,Opened
0,€uro-Coaster,Wiener Prater,Steel,Suspended,NaN,2020
1,€uro Coaster,Funland Theme Park,Steel,Sit Down,Operating,2021
2,1066,Festyland,Steel,Sit Down,Operating,2005
3,10 Inversion Roller Coaster,Chimelong Paradise,Steel,Sit Down,Operating,2006
4,1970 Galaxy Rip Tide Coaster,Swampy Jack's Wongo Adventure,Steel,Sit Down,Relocated,2014
...,...,...,...,...,...,...
10675,7 Picos,Parque de Atracciones de Madrid,Steel,Sit Down,NaN,1969
10676,88 Train,Children's Grand Park,Steel,Sit Down,NaN,1984
10677,88 Train,Amusement Land,Steel,Sit Down,NaN,NaN
10678,Abandon Mine,Uncle Bernie's Theme Park,Steel,Sit Down,Operating,2002
10679,Abismo,Parque de Atracciones de Madrid,Steel,Sit Down,Operating,2006

In [111]:
rc_done['Opened'] = pd.to_datetime(rc_done['Opened'], format='%Y', errors='coerce')
rc_done.to_csv("rcdb_w_years_dtformat.csv", index=False)

In [112]:
rc_done.to_json("rcdb_dtformat.json")

In [113]:
rc_done.to_json("rcdb_dtformat_split.json", orient='split')

In [114]:
#Speed Record Holders
url = 'https://rcdb.com/rhr.htm'

dfs = pd.read_html(url)
speed_df = dfs[1]
speed_df

,Rank,Speed,Roller Coaster,Amusement Park (Location),Opened
0,1st,149.1 mph,Formula Rossa,"Ferrari World Abu Dhabi (Abu Dhabi, Abu Dhabi,...",NaN
1,2nd,128 mph,Kingda Ka,"Six Flags Great Adventure (Jackson, New Jersey...",NaN
2,3rd,120 mph,Top Thrill Dragster,"Cedar Point (Sandusky, Ohio, United States)",NaN
3,4th,111.8 mph,Do-DodonpaRed Force,"Fuji-Q Highland (Fujiyoshida, Yamanashi, Japan...",NaN
4,5th,100 mph,Superman: Escape from Krypton,"Six Flags Magic Mountain (Valencia, California...",NaN
5,*,99.4 mph,Ring Racer,"NÃ¼rburgring (NÃ¼rburg, Rhineland-Palatinate, ...",NaN
6,6th,95 mph,Steel Dragon 2000Fury 325,"Nagashima Spa Land (Kuwana, Mie, Japan)Carowin...",NaN
7,7th,93 mph,Millennium Force,"Cedar Point (Sandusky, Ohio, United States)",NaN
8,8th,92 mph,Leviathan,"Canada's Wonderland (Vaughan, Ontario, Canada)",NaN
9,9th,91 mph,Orion,"Kings Island (Mason, Ohio, United States)",NaN
10,10th,90 mph,Intimidator 305,"Kings Dominion (Doswell, Virginia, United States)",NaN
11,*,*,Rankings are not assigned to roller coasters t...,Rankings are not assigned to roller coasters t...,Rankings are not assigned to roller coasters t...

In [115]:

#Height Record Holders
url = 'https://rcdb.com/rhr.htm?m=1'

dfs = pd.read_html(url)
height_df = dfs[1]
height_df

,Rank,Height,Roller Coaster,Amusement Park (Location),Opened
0,1st,456 ft,Kingda Ka,"Six Flags Great Adventure (Jackson, New Jersey...",NaN
1,2nd,420 ft,Top Thrill Dragster,"Cedar Point (Sandusky, Ohio, United States)",NaN
2,3rd,415 ft,Superman: Escape from Krypton,"Six Flags Magic Mountain (Valencia, California...",NaN
3,4th,367.3 ft,Red Force,"Ferrari Land (Salou, Tarragona, Catalonia, Spain)",NaN
4,5th,325 ft,Fury 325,"Carowinds (Charlotte, North Carolina, United S...",NaN
5,6th,318.3 ft,Steel Dragon 2000,"Nagashima Spa Land (Kuwana, Mie, Japan)",NaN
6,7th,310 ft,Millennium Force,"Cedar Point (Sandusky, Ohio, United States)",NaN
7,8th,306 ft,Leviathan,"Canada's Wonderland (Vaughan, Ontario, Canada)",NaN
8,9th,305 ft,Intimidator 305,"Kings Dominion (Doswell, Virginia, United States)",NaN
9,10th,287 ft,Orion,"Kings Island (Mason, Ohio, United States)",NaN

In [116]:
#Length 
url = 'https://rcdb.com/rhr.htm?m=2'

dfs = pd.read_html(url)
length_df = dfs[1]
length_df

,Rank,Length,Roller Coaster,Amusement Park (Location),Opened
0,1st,8133.2 ft,Steel Dragon 2000,"Nagashima Spa Land (Kuwana, Mie, Japan)",NaN
1,*,7442 ft,Ultimate,"Lightwater Valley (Ripon, North Yorkshire, Eng...",NaN
2,2nd,7359 ft,Beast,"Kings Island (Mason, Ohio, United States)",NaN
3,3rd,6708.7 ft,Fujiyama,"Fuji-Q Highland (Fujiyoshida, Yamanashi, Japan)",NaN
4,4th,6602 ft,Fury 325,"Carowinds (Charlotte, North Carolina, United S...",NaN
5,5th,6595 ft,Millennium Force,"Cedar Point (Sandusky, Ohio, United States)",NaN
6,6th,6561.7 ft,Formula Rossa,"Ferrari World Abu Dhabi (Abu Dhabi, Abu Dhabi,...",NaN
7,7th,6442 ft,Voyage,"Holiday World (Santa Claus, Indiana, United St...",NaN
8,8th,6072 ft,Incredicoaster,"Disney California Adventure Park (Anaheim, Cal...",NaN
9,9th,5843 ft,Desperado,"Buffalo Bill's Resort & Casino (Primm, Nevada,...",NaN
10,10th,5740 ft,Steel Vengeance,"Cedar Point (Sandusky, Ohio, United States)",NaN
11,*,*,Rankings are not assigned to roller coasters t...,Rankings are not assigned to roller coasters t...,Rankings are not assigned to roller coasters t...

In [117]:
length_df[['Amusement Park','Location']] = length_df['Amusement Park (Location)'].str.split('(',expand=True)
length_df

,Rank,Length,Roller Coaster,Amusement Park (Location),Opened,Amusement Park,Location
0,1st,8133.2 ft,Steel Dragon 2000,"Nagashima Spa Land (Kuwana, Mie, Japan)",NaN,Nagashima Spa Land,"Kuwana, Mie, Japan)"
1,*,7442 ft,Ultimate,"Lightwater Valley (Ripon, North Yorkshire, Eng...",NaN,Lightwater Valley,"Ripon, North Yorkshire, England, United Kingdom)"
2,2nd,7359 ft,Beast,"Kings Island (Mason, Ohio, United States)",NaN,Kings Island,"Mason, Ohio, United States)"
3,3rd,6708.7 ft,Fujiyama,"Fuji-Q Highland (Fujiyoshida, Yamanashi, Japan)",NaN,Fuji-Q Highland,"Fujiyoshida, Yamanashi, Japan)"
4,4th,6602 ft,Fury 325,"Carowinds (Charlotte, North Carolina, United S...",NaN,Carowinds,"Charlotte, North Carolina, United States)"
5,5th,6595 ft,Millennium Force,"Cedar Point (Sandusky, Ohio, United States)",NaN,Cedar Point,"Sandusky, Ohio, United States)"
6,6th,6561.7 ft,Formula Rossa,"Ferrari World Abu Dhabi (Abu Dhabi, Abu Dhabi,...",NaN,Ferrari World Abu Dhabi,"Abu Dhabi, Abu Dhabi, United Arab Emirates)"
7,7th,6442 ft,Voyage,"Holiday World (Santa Claus, Indiana, United St...",NaN,Holiday World,"Santa Claus, Indiana, United States)"
8,8th,6072 ft,Incredicoaster,"Disney California Adventure Park (Anaheim, Cal...",NaN,Disney California Adventure Park,"Anaheim, California, United States)"
9,9th,5843 ft,Desperado,"Buffalo Bill's Resort & Casino (Primm, Nevada,...",NaN,Buffalo Bill's Resort & Casino,"Primm, Nevada, United States)"
10,10th,5740 ft,Steel Vengeance,"Cedar Point (Sandusky, Ohio, United States)",NaN,Cedar Point,"Sandusky, Ohio, United States)"
11,*,*,Rankings are not assigned to roller coasters t...,Rankings are not assigned to roller coasters t...,Rankings are not assigned to roller coasters t...,Rankings are not assigned to roller coasters t...,None

In [75]:
def scrapeWikiArticle(url):
	response = requests.get(
		url=url,
	)
	
	soup = bs(response.content, 'html.parser')

	title = soup.find(id="firstHeading")
	print(title.text)

	allLinks = soup.find(id="bodyContent").find_all("a")
	random.shuffle(allLinks)
	linkToScrape = 0

	for link in allLinks:
		# We are only interested in other wiki articles
		if link['href'].find("/wiki/") == -1: 
			continue

		# Use this link to scrape
		linkToScrape = link
		break

	scrapeWikiArticle("https://en.wikipedia.org" + linkToScrape['href'])

scrapeWikiArticle("https://en.wikipedia.org/wiki/Web_scraping")

None
<a class="mw-redirect mw-disambig" href="/wiki/Game_character_(disambiguation)" title="Game character (disambiguation)">Game character (disambiguation)</a>