# Marvel vs. DC - IMDB & Rotten Tomatoes Data Cleaner

Import tools needed

In [1]:
import os
from bs4 import BeautifulSoup as bs
import requests
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

Import CSV

In [2]:
csvfile = "marveldc.csv"
dc_data = pd.read_csv(csvfile, encoding='utf-8')
dc_data.head()

,Title,Year,Genre,Runtime,MPA_Rating,IMDB_Rating,IMDB_Votes,IMDB_Gross,Director,Stars,Description,Crit_Consensus,Tomato_Meter,Tomato_Review,Tom_Aud_Score,Tom_Ratings,Entity,ID
0,Captain America,1944,"Action, Adventure, Sci-Fi",244,Approved,5.5,844,0,Elmer Clifton,"Elmer Clifton,Dick Purcell,Lorna Gray,Lionel A...",Superhero Captain America battles the evil for...,"Find one of these old serials, friend. They're...",0,1,82,250,MARVEL,1
1,Howard the Duck,1986,"Action, Adventure, Comedy",110,PG,4.7,44073,16300000,Willard Huyck,"Willard Huyck,Lea Thompson,Jeffrey Jones,Tim R...",A sarcastic humanoid duck is pulled from his h...,"While it has its moments, Howard the Duck suff...",13,78,38,50000,MARVEL,2
2,Blade,1998,"Action, Horror, Sci-Fi",120,R,7.1,251243,70090000,Stephen Norrington,"Stephen Norrington,Wesley Snipes,Stephen Dorff...","A half-vampire, half-mortal man becomes a prot...","Though some may find the plot a bit lacking, B...",55,103,78,250000,MARVEL,3
3,X-Men,2000,"Action, Adventure, Sci-Fi",104,PG-13,7.4,580354,157300000,Bryan Singer,"Bryan Singer,Patrick Stewart,Hugh Jackman,Ian ...",In a world where mutants (evolved super-powere...,"Faithful to the comics and filled with action,...",82,174,83,250000,MARVEL,4
4,Blade II,2002,"Action, Fantasy, Horror",117,R,6.7,203813,82350000,Guillermo del Toro,"Guillermo del Toro,Wesley Snipes,Kris Kristoff...",Blade forms an uneasy alliance with the vampir...,Though Blade II offers more of what worked in ...,57,150,68,250000,MARVEL,5

Isolate Marvel Movies

In [3]:
dc_only = dc_data.loc[dc_data['Entity'] == 'DC', :]
dc_only.head()

,Title,Year,Genre,Runtime,MPA_Rating,IMDB_Rating,IMDB_Votes,IMDB_Gross,Director,Stars,Description,Crit_Consensus,Tomato_Meter,Tomato_Review,Tom_Aud_Score,Tom_Ratings,Entity,ID
57,Superman and the Mole-Men,1951,"Action, Adventure, Drama",58,Passed,5.7,1828,0,Lee Sholem,"George Reeves,Phyllis Coates,Jeff Corey,Walter...",When underground beings explore the surface wo...,"Even at under an hour, this children's fantasy...",0,2,83,250,DC,58
58,Batman: The Movie,1966,"Adventure, Comedy, Crime",105,PG,6.5,30289,0,Leslie H. Martinson,"Adam West,Burt Ward,Lee Meriwether,Cesar Romero",The Dynamic Duo faces four supervillains who p...,Batman: The Movie elevates camp to an art form...,79,33,62,100000,DC,59
59,Superman,1978,"Action, Adventure, Drama",143,PG,7.3,162395,134220000,Richard Donner,"Christopher Reeve,Margot Kidder,Gene Hackman,M...",An alien orphan is sent from his dying planet ...,"Superman deftly blends humor and gravitas, tak...",94,68,86,250000,DC,60
60,Superman II,1980,"Action, Adventure, Sci-Fi",127,PG,6.8,100030,108190000,Richard Lester,"Gene Hackman,Christopher Reeve,Margot Kidder,N...",Superman agrees to sacrifice his powers to sta...,The humor occasionally stumbles into slapstick...,86,51,76,100000,DC,61
61,Swamp Thing,1982,"Horror, Sci-Fi",91,PG,5.4,13328,0,Wes Craven,"Louis Jourdan,Adrienne Barbeau,Ray Wise,David ...",After a violent incident with a special chemic...,Unabashedly campy -- often to its detriment --...,63,38,40,10000,DC,62

Isolate Desired Columns

In [4]:
dc_csv = dc_only[['Title', 'Year', 'Runtime', 'Director','IMDB_Rating', 'IMDB_Votes', 'IMDB_Gross', 'Tomato_Meter', 'Tom_Aud_Score']]
dc_csv.head()

,Title,Year,Runtime,Director,IMDB_Rating,IMDB_Votes,IMDB_Gross,Tomato_Meter,Tom_Aud_Score
57,Superman and the Mole-Men,1951,58,Lee Sholem,5.7,1828,0,0,83
58,Batman: The Movie,1966,105,Leslie H. Martinson,6.5,30289,0,79,62
59,Superman,1978,143,Richard Donner,7.3,162395,134220000,94,86
60,Superman II,1980,127,Richard Lester,6.8,100030,108190000,86,76
61,Swamp Thing,1982,91,Wes Craven,5.4,13328,0,63,40

Export to CSV

In [5]:
dc_csv.to_csv("tableau_dc.csv", index=False, header=True)