# Marvel Cinematic Universe Machine Learning

Import dependencies

In [1]:
import warnings
warnings.simplefilter('ignore')

# %matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('machinelearning_marvel.csv')
data.head()

,title,year,genre,runtime,mpa_rating,imdb_rating,imdb_gross,director,tomato_meter,tom_aud_score,entity,universe_code,id,star_1,star_2,star_3,star_4
0,Captain America,1944,"Action, Adventure, Sci-Fi",244,Approved,5.5,0,Elmer Clifton,0,82,MARVEL,NaN,1,Elmer Clifton,Dick Purcell,Lorna Gray,Lionel Atwill
1,Howard the Duck,1986,"Action, Adventure, Comedy",110,PG,4.7,16300000,Willard Huyck,13,38,MARVEL,NaN,2,Willard Huyck,Lea Thompson,Jeffrey Jones,Tim Robbins
2,Blade,1998,"Action, Horror, Sci-Fi",120,R,7.1,70090000,Stephen Norrington,55,78,MARVEL,NaN,3,Stephen Norrington,Wesley Snipes,Stephen Dorff,Kris Kristofferson
3,X-Men,2000,"Action, Adventure, Sci-Fi",104,PG-13,7.4,157300000,Bryan Singer,82,83,MARVEL,3000.0,4,Bryan Singer,Patrick Stewart,Hugh Jackman,Ian McKellen
4,Blade II,2002,"Action, Fantasy, Horror",117,R,6.7,82350000,Guillermo del Toro,57,68,MARVEL,NaN,5,Guillermo del Toro,Wesley Snipes,Kris Kristofferson,Ron Perlman