# Marvel vs. DC - IMDB & Rotten Tomatoes Data Cleaner

Import tools needed

In [2]:
import os
from bs4 import BeautifulSoup as bs
import requests
from splinter import Browser
from bs4 import BeautifulSoup
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd

Import CSV

In [4]:
csvfile = "clean_MvDC_df_copy.csv"
marvel_data = pd.read_csv(csvfile, encoding='utf-8')
marvel_data.head()

,title,year,genre,runtime,mpa_rating,imdb_rating,imdb_gross,director,tomato_meter,tom_aud_score,entity,universe_code,id,star_1,star_2,star_3,star_4
0,Captain America,1944,"Action, Adventure, Sci-Fi",244,Approved,5.5,0,Elmer Clifton,0,82,MARVEL,NaN,1,Elmer Clifton,Dick Purcell,Lorna Gray,Lionel Atwill
1,Superman and the Mole-Men,1951,"Action, Adventure, Drama",58,Passed,5.7,0,Lee Sholem,0,83,DC,NaN,58,George Reeves,Phyllis Coates,Jeff Corey,Walter Reed
2,Batman: The Movie,1966,"Adventure, Comedy, Crime",105,PG,6.5,0,Leslie H. Martinson,79,62,DC,NaN,59,Adam West,Burt Ward,Lee Meriwether,Cesar Romero
3,Superman,1978,"Action, Adventure, Drama",143,PG,7.3,134220000,Richard Donner,94,86,DC,4000.0,60,Christopher Reeve,Margot Kidder,Gene Hackman,Marlon Brando
4,Superman II,1980,"Action, Adventure, Sci-Fi",127,PG,6.8,108190000,Richard Lester,86,76,DC,4000.0,61,Gene Hackman,Christopher Reeve,Margot Kidder,Ned Beatty

Isolate Marvel Movies

In [6]:
marvel_only = marvel_data.loc[marvel_data['entity'] == 'MARVEL', :]
marvel_only.head()

,title,year,genre,runtime,mpa_rating,imdb_rating,imdb_gross,director,tomato_meter,tom_aud_score,entity,universe_code,id,star_1,star_2,star_3,star_4
0,Captain America,1944,"Action, Adventure, Sci-Fi",244,Approved,5.5,0,Elmer Clifton,0,82,MARVEL,NaN,1,Elmer Clifton,Dick Purcell,Lorna Gray,Lionel Atwill
8,Howard the Duck,1986,"Action, Adventure, Comedy",110,PG,4.7,16300000,Willard Huyck,13,38,MARVEL,NaN,2,Willard Huyck,Lea Thompson,Jeffrey Jones,Tim Robbins
16,Blade,1998,"Action, Horror, Sci-Fi",120,R,7.1,70090000,Stephen Norrington,55,78,MARVEL,NaN,3,Stephen Norrington,Wesley Snipes,Stephen Dorff,Kris Kristofferson
17,X-Men,2000,"Action, Adventure, Sci-Fi",104,PG-13,7.4,157300000,Bryan Singer,82,83,MARVEL,3000.0,4,Bryan Singer,Patrick Stewart,Hugh Jackman,Ian McKellen
18,Blade II,2002,"Action, Fantasy, Horror",117,R,6.7,82350000,Guillermo del Toro,57,68,MARVEL,NaN,5,Guillermo del Toro,Wesley Snipes,Kris Kristofferson,Ron Perlman

Export to CSV

In [8]:
marvel_only.to_csv("machinelearning_marvel.csv", index=False, header=True)